@font-face {
  font-family: "Arial";
  src: url("../fonts/Arial.woff");
}
$a : "Arial";

@font-face {
  font-family: "Ariston-Normal";
  src: url("../fonts/Ariston-Normal.woff");
}
$an: "Ariston-Normal";

@font-face {
  font-family: "Avanti-Bold";
  src: url("../fonts/Avanti-Bold.woff");
}
$ab : "Avanti-Bold";

@font-face {
  font-family: "Avanti-Regular";
  src: url("../fonts/Avanti-Regular.woff");
}
$ar : "Avanti-Regular";

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.woff");
}
$osb : "OpenSans-Bold";

@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/OpenSans-Light.woff");
}
$osl : "OpenSans-Light";

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.woff");
}
$osr : "OpenSans-Regular";